myapp/bin/Debug/netcoreapp1.1/myapp.dll
myapp/bin/Debug/netcoreapp1.1/myapp.pdb
myapp/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
myapp/obj/Debug/netcoreapp1.1/myapp.dll
myapp/obj/Debug/netcoreapp1.1/myapp.pdb
