CoreCompileInputs.cache
myapp.dll
myapp.pdb
myapp/bin/Debug/netcoreapp1.1/myapp.dll
*.pdb
*.pdb
myapp/bin/Debug/netcoreapp1.1/myapp.dll
myapp/obj/Debug/netcoreapp1.1/myapp.dll
myapp/obj/Debug/netcoreapp1.1/myapp.pdb
myapp/bin/Debug/netcoreapp1.1/myapp.dll
myapp/bin/Debug/netcoreapp1.1/myapp.pdb
myapp/obj/Debug/netcoreapp1.1/myapp.dll
myapp/obj/Debug/netcoreapp1.1/myapp.pdb
